h1 {
    background-color: aqua;
    font-size: 5rem;
    margin: 1.8rem;
    align-items: center;
    color: white;
}

span {
    background-color: blue;
    font-size: 5rem;
    margin: 1.8rem;
    align-items: center;
    color: white;
}