body {
    background-color: black;
}

header h1 {
    background-color: aqua;
    font-size: 5rem;
    margin: 1.8rem;
    text-align: center;
    color: white;
}

header span {
    background-color: blue;
    font-size: 5rem;
    margin: 1.8rem;
    text-align: center;
    color: white;
}